{% extends 'base.html.twig' %}

{% block title %}Mot De Passe Oublié ?{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">adresse mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" placeholder="veuillez entrez votre adresse mail">
        </div>
    </form>

</div>
{% endblock %}
