{% extends 'base.html.twig'%}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <div class="container">
        <div>Mes produits</div>
        <div>
        {% for prod in product %}
            <div class="row" >{{ prod.name}}</div>
            <div class="row"><img src="uploads/Fichiers/{{ prod.image}}"></div>
            <div class="row">{{ prod.price}} euros</div>
        {% endfor %}
        </div>
    </div>
    {% block javascripts %}

    {% endblock %}
{% endblock %}